

<div class="post container" data-id = "<%= post.id %>" data-controller = "<%= controller.action_name %>">
    
    <% presenter = PostPresenter.new(post)%>
    <div>
        <div class ="profile-image">
            <img src="" alt="">
        </div>
    </div>
    <div>
        <% if user_signed_in? %>
        <div class="post-details">
            <p class="username"><%= presenter.username %></p> 
            <p><%= presenter.date_posted %></p>
        </div>
        <% end %>
        <div class="post-content">
            <p><%= post.post%></p>
        </div>
        <div class="post-engagements">
            <div class="engagement engage-comment">
                <%= link_to new_post_comment_path(post_id: post.id), remote: true do %>
                    <i class="fa fa-comments" aria-hidden="true"></i>
                <% end %>
                <% if post.comments_count.positive?%>
                    <p><%= post.comments_count%></p>
                <% end %>
                
            </div>
            <div class="engagement like-post">
                <i class="fa fa-thumbs-up"></i>
                <p>1</p>
            </div>
        </div>
    </div>   
</div>



